<header class="header"></header>



<div class="wrapper">
    <div class="main">
        <blockquote class="killer-quote">
            <p>I believe the only way to reform people is to kill them
            </p>
            <span>Carl Panzram</span>
        </blockquote>
        <div class="killer-box-1">
            <div class="killer-box-intro">
                <div class="killer-box-detail">
                    <div class="killer-box-detail-1">
                        <div class="killer-box-img">
                            <div class="killer-fake-shadow"></div>
                            <img src="{{killer.image}}" alt="">
                        </div>
                        <div class="victims">
                            {{#if killer.numberOfVictimsConfirmed}}
                            <p><b>Number of victims confirmed:</b> {{killer.numberOfVictimsConfirmed}}</p>
                            {{/if}}
                            {{#if killer.numberOfVictimsPossible}}
                            <p><b>Number of victims possible:</b> {{killer.numberOfVictimsPossible}}</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="killer-box-detail killer-box-margin">
                    <h1>{{killer.name}} {{killer.lastName}}</h1>
                    {{#if killer.aka}}
                    <p><b>A.K.A.:</b> {{killer.aka}}</p>
                    {{/if}}
                    {{#if killer.birthDate}}
                    <p><b>Date of Birth:</b> {{killer.birthDate}}</p>
                    {{/if}}
                    {{#if killer.zodiacSign}}
                    <p><b>Zodiac Sign:</b> {{killer.zodiacSign}}</p>
                    {{/if}}
                    {{#if killer.yearsActive}}
                    <p><b>Years Active:</b>
                        {{#if killer.yearsActive.[1]}}
                        {{#each killer.yearsActive}}
                        {{#if @first}}{{this}}{{/if}} {{#if @last}}- {{this}}{{/if}}
                        {{/each}}
                        {{else}}
                        {{killer.yearsActive}}
                        {{/if}}
                        {{/if}}
                    </p>
                    {{#if killer.country}}
                    <p><b>Country:</b> {{killer.country}}</p>
                    {{/if}}
                    {{#if killer.arrested}}
                    <p><b>Date of arrest:</b> {{killer.arrested}}</p>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="killer-box">
            <article>
                {{#if killer.description}}
                <h3>Description:</h3>
                <p>{{killer.description}}</p>
                {{/if}}
            </article>
            <article>
                {{#if killer.victimProfile}}
                <h3>Victim Profile:</h3>
                <p>{{killer.victimProfile}}</p>
                {{/if}}
            </article>

            <article>
                <h3>Murder Type:</h3>
                {{#if killer.murderType.[1]}}


                <div class="details-row">
                    {{#each killer.murderType}}
                    <p class="murder-paragraph">{{#unless @last}}{{this}} | {{/unless}}{{#if @last}}{{this}}{{/if}}
                    </p>
                    {{/each}}
                </div>
                {{else}}
                <p>{{killer.murderType}}</p>

                {{/if}}
            </article>
            {{#if killer.weapons.[0]}}
            <article>
                <h3>Weapons Used:</h3>
                <div class="details-row">
                    {{#if killer.weapons.[1]}}
                    {{#each killer.weapons}}
                    <p>{{#unless @last}}{{this}} | {{/unless}}{{#if @last}}{{this}}{{/if}}</p>
                    {{/each}}
                </div>
                {{else}}
                <p>{{killer.weapons}}</p>
                {{/if}}
            </article>
            {{/if}}


            {{#if killer.books.[0]}}
            <article>
                <h3>Books:</h3>
                {{#each killer.books}}
                <p class="books">- {{this}}</p>
                {{/each}}
            </article>
            {{/if}}

        </div>
        <div class="reviews-container">
            <h2>Reviews</h2>
            {{#each killer.reviews}}
            <div class="review-item">
                <span>{{this.user}}</span>
                <p>{{this.comments}}</p>

            </div>
            {{/each}}
            <p>Add A Comment</p>

            <form class="form form-comment" action="/reviews/add?killer_id={{killer._id}}" method="post">

                <div class="form-group">
                    <input class="form-input" type="text" name="user" id="user-input" placeholder="Username">
                    <label class="form-label" for="name-input">Username</label>
                </div>
                <div class="form-group">
                    <textarea class="form-input" name="comments" id="comments-input" placeholder="Comments"></textarea>
                    <label class="form-label" for="comments-input">Comments</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">Add Review</button>
                </div>

            </form>
            {{#if currentUserInfo._id}}
            <form class="form-fave" action="/private/fave-killer?killer_id={{killer._id}}" method="post">
                <div class="form-group">
                    <button class="btn btn-after" type="submit">Fave</button>
                </div>
            </form>
            {{/if}}

        </div>
        {{#if killer.author}}
        {{#ifeqId killer.author currentUserInfo._id}}
        <div class="fave-section">


            <div class=" form-fave form-group">
                <a class="edit-killer-link" href="/private/edit-killer?killer_id={{killer._id}}"><button
                        class="btn btn-after">Edit</button></a>
            </div>

            <form action="/private/delete-killer?killer_id={{killer._id}}" method="post">
                <div class="form-fave form-group">
                    <button class="btn btn-after" type="submit">Delete</button>
                </div>
            </form>
        </div>

        {{/ifeqId}}
        {{#ifneqId killer.author currentUserInfo._id}}
        <p class="not-session-user">you cannot Delete or Edit a Killer that you have not created.</p>
        {{/ifneqId}}
        {{/if}}
        <div class="back-link"><a href="/"><button class="btn btn-after"> Back</button></a></div>

    </div>
</div>
{{> footerpartial this}}