<div class="form-wrapper">
    <div class="form-bg">
        <div class="form-container">
            <div class="form-title">
                <h2>Edit Killer</h2>
                {{#if errorMessage}}
                <p class="error-message">
                    {{ errorMessage }}
                </p>
                {{/if}}
            </div>

            <form class="form" action="/private/edit-killer?killer_id={{killer._id}}" method="post"
                enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="name" id="name-input" placeholder="Name"
                        value="{{killer.name}}">
                    <label class="form-label" for="name-input">Killer's Name</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="lastName" id="lastname-input"
                        placeholder="Last Name" value="{{killer.lastName}}">
                    <label class="form-label" for="lastname-input">Killer's Last Name</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="aka" id="aka-input" placeholder="AKA"
                        value="{{killer.aka}}">
                    <label class="form-label" for="aka-input">Killer's AKA</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="gender" id="gender-input"
                        placeholder="Gender" value="{{killer.gender}}">
                    <label class="form-label" for="gender-input">Killer's Gender</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="murderType" id="murderType-input"
                        placeholder="Murder Type" value="{{killer.murderType}}">
                    <label class="form-label" for="murderType-input">Murder Type</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="birthDate" id="birthDate-input"
                        placeholder="Birth Date" value="{{killer.birthDate}}">
                    <label class="form-label" for="birthDate-input">Birth Date</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="zodiacSign" id="zodiac-input"
                        placeholder="Zodiac Sign" value="{{killer.zodiacSign}}">
                    <label class="form-label" for="zodiac-input">Zodiac Sign</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="yearsActive" id="years-input"
                        placeholder="Years Active" value="{{killer.yearsActive}}">
                    <label class="form-label" for="years-input">Years Active</label>
                </div>

                <div class="form-group">
                    <input class="form-input form-capitalize" type="number" name="numberOfVictimsConfirmed"
                        id="victims-input" placeholder="Victims Confirmed" value="{{killer.numberOfVictimsConfirmed}}">
                    <label class="form-label" for="victims-input">Victims Confirmed</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="number" name="numberOfVictimsPossible"
                        id="victims-posible-input" placeholder="Possible Victims"
                        value="{{killer.numberOfVictimsPossible}}">
                    <label class="form-label" for="victims-posible-input">Possible Victims</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="number" name="arrested" id="arrested-input"
                        placeholder="Year Arrested" value="{{killer.arrested}}">
                    <label class="form-label" for="arrested-input">Year Arrested</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="country" id="country-input"
                        placeholder="Country" value="{{killer.country}}">
                    <label class="form-label" for="country-input">Country</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="weapons" id="weapons-input"
                        placeholder="Weapons" value="{{killer.weapons}}">
                    <label class="form-label" for="weapons-input">Weapons</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="victimProfile" id="victimProfile-input"
                        placeholder="Victim Profile" value="{{killer.victimProfile}}">
                    <label class="form-label" for="victimProfile-input">Victim Profile</label>
                </div>
                <div class="form-group">
                    <textarea class="form-input form-capitalize" name="description" id="description-input"
                        placeholder="Description">{{killer.description}}</textarea>
                    <label class="form-label" for="description-input">Description</label>
                </div>
                <div class="form-group">
                    <input class="form-input form-capitalize" type="text" name="books" id="books-input"
                        placeholder="Books" value="{{killer.books}}">
                    <label class="form-label" for="books-input">Books</label>
                </div>
                <div class="form-group">
                    <input class="form-input" type="file" name="photo" id="photo-input">
                    <label class="form-label" for="photo-input">Poster</label>
                </div>

                <div class="form-group">
                    <button class="btn btn-after">Edit</button>
                </div>

            </form>


        </div>
    </div>
</div>
{{> footerpartial this}}